.EmployeeList {
  background-color: #282c34;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 0.5em;
  box-shadow: 0 0 10em 0.5em whitesmoke; 
}

.EmployeeList .Employee {
  border-bottom: 1px solid whitesmoke;
}

.EmployeeList .Employee:last-child {
  border-bottom: none;
}
